@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

#math-icon
{
    width: 10rem;
   
 
}

.container ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10B981
    ;
}

li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #047857
    ;
  }

.main-content
{
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
 
}
.inputs input[type="number"]{
    padding: 0.5rem;
    width: 20rem;
    margin: 1.5rem;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
    outline: none;
    border-radius: 10rem;
    border: none;
} 

.btn-triangle
{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 13rem;
    outline: none;
    border-radius: 10rem;
    background-color:#10B981;
    cursor: pointer;
  
}

.questions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

}

.ques1
{
    border: 1px solid grey;
    padding: 1rem;
    margin: 2rem 0rem;
}

.ques2
{
    padding: 1rem;
    border: 1px solid grey;
    margin: 2rem 0rem;
    
}

.main
{
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

